<h1>Single Beer</h1>
<div class="randomBeer">
    <img src="<%=singleBeer[0].image_url%>" alt="random beer image" style="width: 20%" />
    <div style="width: 60%">
        <h4>
            <h2>Name:</h2>
            <%-singleBeer[0].name%>
        </h4>
        <h4>
            <h2>Description:</h2>
            <%-singleBeer[0].description%>
        </h4>
        <h4>
            <h2>Tagline:</h2>
            <%-singleBeer[0].tagline%>
        </h4>
        <h2>Food Pairing:</h2>
        <%singleBeer[0].food_pairing.forEach(pairing=> { %>
            <ul>
                <li>
                    <%=pairing%>
                </li>
            </ul>
            <% }) %>
    </div>
</div>